<!DOCTYPE html>
<html lang = "en">
   <head>
     <title>Data</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" >
   </head>
   <body>

      <section>
        <h3>{{ msg }}</h3>

        <table>
           <thead>
              <tr>
                 <th>Musico</th>
                 <th>Instrumento</th>
                 <th>Imagen</th>
              </tr>
           </thead>

           <tbody>
              {% for data in rows %}
                 <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                    <td><img src="{{data[2]}}" alt="{{data[2]}}" width="50px" /></td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>

    </section>

   </body>
</html>
